@import './../../common/constants/styleconstants.scss';


.variable-info-card {
    background-color: $light-color;
    height: $card-height;
    border-radius: $border-radius;
    padding: 10px 15px;
    transition-duration: $transition-duration;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h5,
    p {
        text-align: center;
        margin: 0;
    }

    h5 {
        position: absolute;
        top: 10%;
        color: $main-color;
        font-size: 14px;
        padding-bottom: 10px;
        justify-self: start;
        max-width: 70%;
    }

    .description-container {
        max-width: 80%;
        max-height: 80%;

        p {
            font-weight: bold;
            font-size: 16px;
            max-width: 100%;
            max-height: 100%;
            font-size: $regular-size;
        }

    }

    &:hover {
        background-color: $main-color;
        transition-duration: $transition-duration;

        h5 {
            color: $secondary-color;
        }

        .description-container {}

        p {
            color: $light-color;

        }
    }
}