@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
// colors
$main-color: #F6272B;
$secondary-color: #0A0508;
$highlighted-color: rgb(238, 238, 238);
$light-color: white;
$transluent-light-color: rgba(255, 255, 255, 0.7);
$blur: blur(15px);
// fonts
$main-font: "Plus Jakarta Sans", sans-serif;

//images
$background-image: url('../../common/assets/background.jpg');

//border
$border-radius: 20px;
//time
$transition-duration: 0.2s;

//card
$card-height: 22vh;

// responsive
$large-screen-size: 1300px;
$medium-screen-size: 950px;
$small-screen-size: 600px;
$xsmall-screen-size: 450px;

$header-size: clamp(18px, 2vw, 24px);
$important-size: clamp(14px, 1.5vw, 18px);
$regular-size: clamp(10px, 1.3vw, 14px);


.flex-center-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
}