@import '../../common/constants/styleconstants.scss';

header {
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    a {
        text-decoration: none;
        color: initial;
    }

    h1 {
        font-size: $header-size;
        text-transform: uppercase;
        margin: 0;
        transition-duration: $transition-duration;

        &:hover {
            color: $main-color;
            cursor: pointer;
        }
    }

    nav {
        height: 100%;
        display: flex;

        a {
            height: 100%;
            text-transform: uppercase;
            padding: 10px 25px;
            margin: 10px 0;
            transition-duration: $transition-duration;
            font-size: $important-size;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;
                cursor: pointer;
            }

            &:first-child {
                border-radius: $border-radius 0 0 $border-radius;
            }

            &:last-child {
                border-radius: 0 $border-radius $border-radius 0;
            }
        }
    }

    @media screen and (max-width: $xsmall-screen-size) {
        flex-direction: column;

        h1 {
            margin-top: 15px;
        }

        nav {
            flex-direction: column;
            text-align: center;
            width: 70%;

            a {

                &:first-child {
                    border-radius: $border-radius;
                }

                &:last-child {
                    border-radius: $border-radius;
                }

            }
        }
    }
}