@import '../../common/constants/styleconstants.scss';

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    h1{
        font-size: $header-size;
        text-transform: uppercase;
        margin: 0;
        transition-duration: $transition-duration;
        &:hover{
            color: $main-color;
            cursor: pointer;
        }
    }

    nav{
        height: 100%;
        display: flex;
        a{
            color: initial;
            text-decoration: none;
            height: 100%;
            text-transform: uppercase;
            padding: 10px 25px;
            margin: 10px 0;
            transition-duration: $transition-duration;
            font-size: $important-size;
            &:hover{
                background-color: $secondary-color;
                color: $main-color;
                cursor: pointer;
            }
            &:first-child{
                border-radius: 20px 0 0 20px;
            }
            &:last-child{
                border-radius: 0 20px 20px 0 ;
            }
        }
    }

    @media screen and (max-width: $xsmall-screen-size) {
        flex-direction: column;
        h1{
            margin-top: 15px;
        }
        nav{
            flex-direction: column;
            text-align: center;

            a{
                border-radius: 20px;
            }
        }
    }
}